<div id="title-background">
  <div id="title">
    <h1>The Tech Blog</h1>
  </div>
</div>

<div class="card">
  <div class="card-divider">
    <div>
      <h1>{{name}}</h1>
      <h4>Posted by {{user.name}} on {{date_created}}</h4>
      <p>{{content}}</p>
    </div>
  </div>
</div>
